@charset "UTF-8";

.light{
	text-shadow: 0 0 10px gray, 0 0 15px black;
	color: white;
}


body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}




/* 補足説明 */
.follow-info	{margin-top: 0;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #dddddd;
	font-size: 15px;
	text-align: center}

.follow-info {
	position: relative;
	background: #dddddd;
}
.follow-info:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: 15px;
	margin-left: -15px;
}

a.btn{
	display: inline-block;
	width: 120px;
	margin: 45px 40px 40px;
	padding: 10px 10px;
	border: 2px solid #a9a9a9;
	background: transparent;
	color: #a9a9a9;
	text-align: center;
	text-decoration: none;
	font-size:20px;
	line-height: 1;
	transition: .3s;
}
a.top1:hover {
  border: 2px solid rgba(0,0,0,.5);
  color: rgba(0,0,0,.5);
}
div.info {
overflow: auto;
width : 90%;
height : 200px;
font-size : 100%;
color : #ffffff;
background-color: #a9a9a9;
border:2px black;
padding : 3px;
}


.systems {
	position: relative;
}

.ie, .me, .sa, .gc {
	position: absolute;
	opacity: 0.0;
}

.active {
	right: 5%;
	left: 5%;
	opacity: 1.0;
}

/*.button {*/
/*	height: 170px;*/
/*}*/

.ieb, .meb, .sab, .gcb {
	height: 100%;
	width: 17.5%;
	cursor: pointer;
}

.button{
	width: 40%;
}

.sc a:link { color: #ffffff; }
.sc a:visited { color: #ffffff; }
.sc a:hover { color: gray; }