@charset "UTF-8";

body{
	background: #d3d3d3;
}

.slide{
	z-index: 1;
	float: left;
}

.slider{
	overflow: hidden;
	position: relative;
}

.slideSet{
	position: absolute;
}

#left{
	width: 50px;
	opacity: 0.7;
	position: absolute;
	top: 250px;
	left: 10px;
	z-index: 2;
	cursor: pointer;
}

#right{
	width: 50px;
	opacity: 0.7;
	position: absolute;
	top: 250px;
	right: 10px;
	z-index: 2;
	cursor: pointer;
}

#left:hover, #right:hover{
	opacity: 1;
}

#one, #two, #three, #four, #five{
	position: absolute;
	bottom: 0px;
	z-index: 3;
	cursor: pointer;
	color: white;
}

#gray{
	position: absolute;
	bottom: 0;
	width: 1280px;
	height: 50px;
	z-index: 2;
	opacity: 0.5;
}

#text{
	position: absolute;
	bottom: 0;
	z-index: 2;
	color: white;
}
