@charset "UTF-8";

body	{margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	}

	/*///////////メイン記事//////////*/
	.gaiyou a	{display: block;
		background-color: #222222;
		color: #ffffff;
		text-align: center;
		text-decoration: none;
		float: left;
		width: 50%;
		}

	.gaiyou a:hover	{opacity: 0.8;
		}

	.gaiyou i	{display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 0px;
		}



	.gaiyou .fa-un	{background-color: #4169e1}

	.gaiyou .fa-ea	{background-color: #32cd32}

	.gaiyou .fa-so	{background-color: #ffa500}

	.gaiyou .fa-ga	{background-color: #1E90FF}





	.gaiyou h1	{margin-top: 0;
		margin-bottom: 0;
		padding-top: 1px;
		padding-bottom: 1px;
		font-size: 18px;
		font-weight: normal;
		}

	.gaiyou p	{margin-top: 0;
		margin-bottom: 0;
		padding-top: 0px;
		padding-bottom: 0px;
		background-color: #524e3c;
		font-size: 13px;
		}


	/* 補足説明 */
	.follow	{margin-top: 0;
		margin-bottom: 20px;
		padding: 10px;
		background-color: #dddddd;
		font-size: 15px;
		text-align: center;
		}

	.follow {
		position: relative;
		background: #dddddd;
		}
	.follow:after {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(221, 221, 221, 0);
		border-top-color: #dddddd;
		border-width: 15px;
		margin-left: -15px;
		}

	/* ボックスの上下 */

	.box{padding-top: 0px;
		}

	.box-1, .box-2, .box-3, .box-4
		{padding-bottom: 0px;
		}

	/* ########### 768px以上 ########### */
	@media (min-width: 768px) {


	/* BOX-1、BOX-2、BOX-3を横に並べる設定 */
	.gaiyou a{
		width: 100%;
		}

	.box:after	{content: "";
		display: block;
		clear: both;
		}

	.box-1	{float: left;
		width: 25%;
		margin-right: 0%;
		}

	.box-2	{float: left;
		width: 25%;
		margin-right: 0%;
		}

	.box-3	{float: left;
		width: 25%;
		margin-right: 0%;
		}

	.box-4	{float: left;
		width: 25%;
		margin-right: 0%;
		}

	}

	/* ########### 1190px以上 ########### */
	@media (min-width: 2304px) {

	/* 全体の横幅を固定 */
	.box
		{width: 2304px;
		margin-left: auto;
		margin-right: auto;
		}
	}
	/*///////////メイン記事END//////////*/






/*///////////注目記事//////////*/
.gaiyoum a	{display: block;
	background-color: #222222;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	float: left;
	width: 50%;
	}

.gaiyoum a:hover	{opacity: 0.8;
	}

.gaiyoum i	{display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 40px;
	}

.gaiyoum .fa-ali1	{background-color: #ffffff}

.gaiyoum .fa-ali2	{background-color: #ffffff}

.gaiyoum .fa-ali3	{background-color: #ffffff}

.gaiyoum .fa-ali4	{background-color: #ffffff}

.gaiyoum .fa-ali5	{background-color: #ffffff}

.gaiyoum h1	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: normal;
	}

.gaiyoum p	{margin-top: 0;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #524e3c;
	font-size: 15px;
	}

	/* SNSのシェアボタン */

	.share{
		float: left;
		width: 50%;
	}

	.share-tw{
		background-color: #55acee;
		height: 57.6666px;
	}

	.share-fb{
		background-color: #3b5998;
		height: 57.6666px;
	}

	.share-gp{
		background-color: #dd4b39;
		height: 57.6666px;
	}

	.share a{
		text-decoration: none;
		color: white;
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
	}

/* 注目記事の補足説明 */
.followm	{margin-top: 0;
	margin-bottom: 20px;
	padding: 10px;
	background-color: #dddddd;
	font-size: 15px;
	text-align: center;
	}

.followm {
	position: relative;
	background: #dddddd;
	}
.followm:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: 15px;
	margin-left: -15px;
	}

/* ボックスの上下 */
.boxm	{padding-top: 0px;
	}

.boxm-1, .boxm-2, .boxm-3, .boxm-4, .boxm-5
	{padding-bottom: 0px;}

/* ########### 768px以上 ########### */
@media (min-width: 768px) {

/* BOX-1、BOX-2、BOX-3を横に並べる設定 */
.gaiyoum a{
	width: 100%;
	}

.boxm:after	{content: "";
	display: block;
	clear: both;
	}

.boxm-1	{float: left;
	width: 20%;
	margin-right: 0%;
	}

.boxm-2	{float: left;
	width: 20%;
	margin-right: 0%;
	}

.boxm-3	{float: left;
	width: 20%;
	margin-right: 0%;
	}

.boxm-4	{float: left;
	width: 20%;
	margin-right: 0%;
	}

.boxm-5	{float: left;
	width: 20%;
	margin-right: 0%;
	}

.share {
	width: 100%;
	}

.share-tw {
	width: 33.3333%;
	float: left;
	}

.share-fb {
	width: 33.3333%;
	float: left;
	}

.share-gp {
	width: 33.3333%;
	float: left;
	}

}

/* ########### 2560px以上 ########### */
@media (min-width: 2560px) {

/* 全体の横幅を固定 */
.boxm{
	width: 2560px;
	margin-left: auto;
	margin-right: auto;
	}
}
/*///////////注目記事END//////////*/
